@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: aliceblue;
}
.navcon {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 20px;
}
.product-con {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 3%;
  width: 100%;
}
.img-con {
  width: 20%;
  padding-left: 20px;
  height: 100%;
}
.prod-img {
  width: 80%;
  height: 80%;
}
.prod-txt {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10%;
  font-weight: bold;
}
.cat-title {
  padding: 20px;
}
.category-menu ul li {
  list-style: none;
  margin: 20px;
}
.category-menu ul {
  display: flex;
  background-color: rgb(179, 172, 172);
  color: azure;
  justify-content: space-between;
}
.singlepage-view {
  display: flex;
  font-display: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.con1 {
  display: flex;
  flex-direction: row;
  padding: 20px;
  width: 100%;
}
.subcon1 img {
  height: 100%;
}
.subcon2 {
  padding-left: 10px;
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 20px;
  padding-left: 40px;
}
.subcon2 h6 {
  font-size: 20px;
  color: rgb(168, 111, 25);
}
.cartbtn,
.buybtn {
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 3px;
  width: 100px;
  padding: 10px;
  color: black;
  font-weight: bold;
  margin: 5px;
  margin-left: 0px;
}
.btn-con {
  display: flex;
}
.buybtn {
  background-color: rgb(216, 252, 11);
}
